<!--
  Generated template for the ContatosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Contatos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let c of keys">
    <ion-card-header>
      {{contatos[c].dados.nome}}
      {{contatos[c].dados.sobrenome}}
      <!-- {{contato.sobrenome}} - {{contato.observacao|uppercase}} -->
    </ion-card-header>
    <ion-list *ngFor="let cont of contatos[c].contatos">
      <button ion-button icon-start clear small>
        <div>
          <a href="tel:{{cont.contato}}">
            <ion-icon name="phone-portrait"></ion-icon>{{cont.contato}} - {{cont.observacao}}
          </a>
        </div>
      </button>
    </ion-list>
  </ion-card>
  <!-- NAV-->
  <ion-fab right bottom>
    <button ion-fab color="primary">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="fechar()" color="danger">
        <ion-icon name="power"></ion-icon>
      </button>
      <button ion-fab (click)="ausencia()" color="primary">
        <ion-icon name="walk"></ion-icon>
      </button>
      <button ion-fab (click)="contatosP()" color="primary">
        <ion-icon name="call"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>